
body, footer{
    background-color: rgb(0, 15, 20) !important;
    overflow: hidden;
    
}

a:hover {
    color:gray;
}
.white{
    color: white;
}

.notification {
    height: 100%;
    padding: 6%;
  }

 .card{
     height: 100%;
     padding: 2%;
 }